<ng-container *ngIf="detailId$ | async">
  <ng-container *ngIf="detail$ | async as detail">
    <app-page-header
      title="{{ 'features.projects.title' | translate }}"
      [isArchived]="isArchived"
      (pageHeaderEvent)="onPageHeaderEvent($event, detail)"
    ></app-page-header>
    <mat-card>
      <h3>{{ "common.information" | translate }}</h3>
      <div class="flex flex--row">
        <div>
          <span>{{ detail.label }}</span>
        </div>
      </div>

      <div class="flex flex--row">
        <span>Date de début: {{ detail.startDate }}</span>
        <span>Date de fin: {{ detail.endDate }}</span>
      </div>
      <mat-divider></mat-divider>
      <h3>
        {{ "features.projects.works" | translate }}
      </h3>
      <button
        mat-icon-button
        *ngIf="detail.id"
        (click)="openWorkCreationDialog(detail.id)"
      >
        <mat-icon>add</mat-icon>
      </button>

      <ng-container *ngIf="detail.works?.length; else createWorkTemplate">
        <div *ngFor="let work of detail.works">
          <span (click)="onRowClick(work)">{{ work.label }}</span>
        </div>
      </ng-container>
      <ng-template #createWorkTemplate>
        <button *ngIf="detail.id" (click)="openWorkCreationDialog(detail.id)">
          Créer un chantier
        </button>
      </ng-template>
    </mat-card>
  </ng-container>
</ng-container>
